**
!go.mod
!go.sum
!main.go
!pkg/
!pkg/**
!.ci/
!.ci/run_tests.sh
!test_data/
!test_data/**
**/.git
**/.env*
**/dist
**/coverage*
**/*.log
**/logs
**/.idea
**/.vscode
**/*.iml
**/.DS_Store
**/.cache
**/.tmp
**/tmp
**/temp
**/*.tmp
**/*.temp
**/*.swp
**/*.swo
**/*~
**/README*
