name: CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  lint-go:
    name: golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.1

      - name: Set up Go
        uses: actions/setup-go@v6.0.0
        with:
          go-version-file: go.mod

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9.1.0
        with:
          args: --timeout=5m

  lint-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1
      - name: Set up Node.js
        uses: actions/setup-node@v6.0.0
        with:
          node-version: latest
      - name: Remove existing npm installation
        run: npm uninstall -g npm
      - name: Initialize npm
        run: npm init -y
      - name: Install dependencies
        run: npm install
      - name: Install markdownlint
        run: npm install -g markdownlint-cli
      - name: Lint Markdown files
        run: markdownlint .

  unit-test:
    name: Unit tests (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    needs: lint-go
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1
      - name: Setup Go
        uses: actions/setup-go@v6.0.0
        with:
          go-version-file: go.mod
      - name: Download Dependencies
        run: go mod download
      - name: Build the binary
        shell: bash
        run: make build ls
      - name: Run unit tests
        shell: bash
        run: make go-test
      - name: Run tests with coverage
        if: matrix.os == 'ubuntu-latest'
        shell: bash
        run: |
          go test ./... \
            -coverpkg=./... \
            -coverprofile=coverage.out
          go tool cover -func=coverage.out
      - name: Upload coverage to Codecov
        if: matrix.os == 'ubuntu-latest'
        uses: codecov/codecov-action@v5.5.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.out
          flags: unittests
          verbose: true

  staircase:
    name: Staircase tests (PostgreSQL ${{ matrix.pg }})
    runs-on: ubuntu-latest
    needs: lint-go
    strategy:
      fail-fast: false
      matrix:
        pg: [ '13', '14', '15', '16', '17' ]
    env:
      PG_VERSION: ${{ matrix.pg }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1
      - name: Setup Go (cache for Docker build)
        uses: actions/setup-go@v6.0.0
        with:
          go-version-file: go.mod
      - name: Build image and run staircase tests
        shell: bash
        run: make PG_VERS="${{ matrix.pg }}" test
